@font-face {
    font-family: Benzin;
    src: url(../fonts/Benzin-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Benzin;
    src: url(../fonts/Benzin-Regular.ttf);
    font-weight: normal;
}
