@media (min-width: 576px) {
    html{
        font-size: 16px;
    }
    .landing_title {
        font-size: 4rem;
        margin-top: -3rem;
    }
    .project-digit {
        margin-right: 0;
    }
    .project-closed {
        left: -12rem;
        font-size: 1rem;
    }
    #cookiesToast{
        font-size: .75rem;
        --bs-toast-max-width: 400px
    }
    .company-list-logo {
        width: 150px;
        height: 150px;
    }
    .company-list-item{
        height: 160px;
    }

}

@media (min-width: 768px) {
    .project-closed {
        left: -6rem;
        font-size: 1rem;
    }
    #cookiesToast{
        font-size: .875rem;
        --bs-toast-max-width: 600px
    }
    #cookiesToast .btn {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    .payment-box {
        position: absolute;
        right: 50px;
        bottom: 100px;
        margin-bottom: 0;
    }

    .video-container > video {
        width: 100% !important;
        height: auto !important;
    }
    .project-closed {
        left: -10rem;
        font-size: 1.2rem;
    }
    .water-map>.col{
        height: min(450px, 100vh);
    }
}

@media (min-width: 1200px) {
    .payment-box {
        right: 100px;
        bottom: 100px;
    }
    .project-closed {
        left: -7rem;
        font-size: 1.2rem;
    }
}

@media (min-width: 1400px) {
    .project-closed {
        left: -8rem;
        font-size: 1.4rem;
    }
}

