.video-container{
    background: url("../img/dram_t.png") no-repeat center center;
    background-size: cover;
    z-index: -1;
}

.video-container>div {
    background: #0e1f3cd5;
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
}

.video-container>video {
    position: absolute;
    width: auto;
    height: 100%;
}

.qrpay_button {
    transition: all .15s ease-in-out;
}

.qrpay_button:hover {
    opacity: 0.5;
}

.qr-code {
    border-radius: var(--bs-border-radius-lg);
    border: 2px solid white;
    padding-bottom: .5rem;
    position: relative;
}

.qr-code .qr-title {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-weight: 900;
    transform: translate(-50%,0);
    padding: 0 1rem ;
    border-radius: var(--bs-border-radius);
    opacity: 1!important;
 }


.qr-code.reH2O {
    border-color: var(--main_blue);
}

.qr-code.reCity {
    border-color: var(--main_yellow);
}


.qr-code.reH2O .qr-title {
    color: var(--main_blue);
}

.qr-code.reCity .qr-title {
    color: var(--main_yellow);
}

.partner{
    min-height: 145px;
}
