.text-with-bg {
    position: relative;
    isolation: isolate;
    padding: 30px;
    color: white;
}

.text-with-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;

    background: rgba(15, 31, 61, 1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    border-radius: 30px;

    /* мягкое исчезновение по краям */
    mask-image: radial-gradient(
            ellipse,
            #000 45%,
            transparent 100%
    );
    -webkit-mask-image: radial-gradient(
            ellipse,
            #000 45%,
            transparent 100%
    );
}

.stats-list .stats-item {
    position: relative;
    max-width: 28rem;
}

.stats-list .stats-item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 25%;
    height: 50%;
    width: 1px;
    background: #ccc;
}

.stats-list .icon {
    color: var(--main_blue);
}

.stats-list .stats-item .header {
    line-height: 1.0;
    margin-bottom: 0.5rem;
    color: var(--dark_blue)
}

.stats-list .stats-item .text {
    line-height: 1.0;
    margin-bottom: 0.5rem;
}
.how-it-works .header{
    max-width: 22rem;
    color: var(--dark_blue)
}

.how-it-works .step {
    position: relative;
    height: 13rem;
}

.how-it-works .step img {
    transition: .5s ease-in-out;
}
.how-it-works .step:hover img {
    transform: scale(1.1);
}

.how-it-works .step .text {
    transition: .5s ease-in-out;
}
.how-it-works .step:hover .text {
    color: var(--main_blue);
}

/* PROJECTS */

#projects .flex div:nth-child(2) {
	text-align: center;
}

#projects .item .btn {
	font-size: 24px;
	font-weight: normal;
}

#projects .slider {
	position: relative;
	width: 100%;
	max-width: 100vw;
	margin: 0 auto;
	overflow: hidden;
	margin: 50px 0;
	padding-top: 30px;
}

#projects .item__wrapper {
	display: flex;
	transition: transform 0.3s;
	justify-content: inherit;
}

#projects .item {
	flex: 0 0 32.5%;
	margin: 0.5vw;
}

#projects .slider button {
	position: absolute;
	background: #ffffff00;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	z-index: 1;
}

#projects .prev-button {
	left: 0;
	top: 0;
}

#projects .next-button {
	right: 0;
	top: 0;
	transform: rotate(180deg) !important;
}

/* END OF PROJECTS*/