{% extends "reua_base.html" %}
{% load thumbnail %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Головна сторінка" %}
{% endblock %}
{% block css %}
    {{ block.super }}
    <link href="{% static "reua/css/index.css" %}" rel="stylesheet">
{% endblock %}

{% block menu %}
    {% include 'std/new_menu.html' with is_index=True %}
{% endblock %}
{% block body %}
    <section class="landing_block position-relative d-flex overflow-hidden ">
        <div class="video-container position-absolute w-100 h-100">
            <video src="/media/video/mrpl.mp4" onloadedmetadata="this.muted = true" playsinline=""
                   autoplay="" muted="" loop=""></video>
            <div></div>
        </div>
        <div class="container under_topmenu d-flex flex-column justify-content-center ">
            <div>
                <img src="{% static "reua/img/logo_big.png" %}" class="mw-100" alt="reUA fund">
            </div>
            <div class="text-white my-5" style="font-size: 1.25rem; line-height: 1.25; max-width: 600px;">
                <p>{% trans "Благодійний фонд" %} <span class="text-warning">
                    {% trans "«Відбудуємо нашу Україну»" %}
                </span><br></p>
                <p>
                    {% trans "Платформа працює для збору коштів на вирішення першочергових гуманітарних задач внутрішньо переміщених осіб з Маріуполя та України в цілому." %}
                </p>
            </div>
            <div class="payment-box">
                <h5 class="fw-bold text-uppercase">
                    {% trans "Зробити внесок карткою" %}
                </h5>
                <ul class="d-flex gap-2 list-unstyled justify-content-between">
                    {% for project_name, qr in qrcodes.items %}
                        <li class="qr-code {{ project_name }}">
                            <a href="{{ qr.url }}" class="qrpay_button text-decoration-none">
                                {{ qr.img|safe }}
                                <span class="qr-title text-capitalize">
                                {{ project_name }}
                            </span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <img src="{% static "reua/img/pay_logos.png" %}" alt="visa and mastercard">
            </div>
        </div>
    </section>
    <div id="header_marker"></div>
    <div class="container my-1 my-md-5">
        <div class="row">
            {% for project, positions in general_project_images.items %}
                <a href="{% if project == 'ReCity' %}{% url "rebuild" %}{% elif project == 'ReH2O' %}{% url "water" %}{% else %}#{% endif %}"
                   class="col col-lg-6 text-dark text-decoration-none mb-4 mb-lg-0">
                    {% for images in positions.values %}
                        <div class="d-flex overflow-hidden row row-cols-3">
                            {% for image in images %}
                                {% thumbnail image.image "150x150" format="PNG" upscale=True crop='center' as im %}
                                    <img src="{{ im.url }}" alt="{{ project }}" class="p-0">
                                {% endthumbnail %}
                            {% endfor %}
                        </div>
                        {% if forloop.counter0 == 0 %}
                            <div class="d-flex flex-column flex-sm-row my-3">
                                <div class="d-flex flex-column justify-content-center me-auto ms-auto ms-sm-0">
                                    {% if project == 'ReCity' %}
                                        <h3 class="project-word">project</h3>
                                        <h1 class="project-name">ReCITY</h1>
                                    {% elif project == 'ReH2O' %}
                                        <h3 class="project-word">Technology</h3>
                                        <h1 class="project-name">ReH2O</h1>
                                        <div class="border-warning border-5"></div>
                                    {% endif %}
                                </div>
                                <div class="d-flex flex-row flex-sm-column justify-content-around
                                justify-content-sm-center ms-auto align-items-center align-items-sm-end w-100">
                                    <div class="d-flex flex-row flex-sm-column align-items-center  align-items-sm-end h-100">
                                        {% if project == 'ReCity' %}
                                            <h2 class="project-digit me-2 me-sm-0">3,9</h2>
                                            <span class="fs-5 fw-bolder">{% trans "млрд $" %}</span>
                                        {% elif project == 'ReH2O' %}
                                            <h2 class="project-digit">7,5</h2>
                                            <span class="fs-5 fw-bolder">{% trans "млн $" %}</span>
                                        {% endif %}
                                    </div>
                                    <div class="d-flex flex-row flex-sm-column align-items-center align-items-sm-end  h-100">
                                        {% if project == 'ReCity' %}
                                            <h2 class="project-digit">40</h2>
                                            <span class="fs-5 fw-bolder">{% trans "міст" %}</span>
                                        {% elif project == 'ReH2O' %}
                                            <h2 class="project-digit">100</h2>
                                            <span class="fs-5 fw-bolder">{% trans "систем очистки води" %}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </a>
            {% endfor %}
        </div>
    </div>
    {% include "index/partners.html" %}
    {{ block.super }}
{% endblock %}
