[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
django-phonenumber-field = {extras = ["phonenumbers"],version = "*"}
sorl-thumbnail = "*"
django = "*"
pillow = "*"
fontawesomefree = "*"
django-filter = "*"
django-summernote = "*"
bleach = {extras = ["css"], version = "*"}
django-admin-sortable = "*"
qrcode = {extras = ["pil"], version = "*"}
requests = "*"
pytils = "*"
django-simple-captcha = "*"
django_recaptcha = '*'

[dev-packages]

[requires]
python_version = "3.9"
