{% load thumbnail %}
{% load i18n %}
{% load request_heplers %}

<div class="row">
    <div class="col col-lg-8 col-xl-9">
        {% if object_list %}
            <ul class="list-unstyled d-flex flex-column gap-2">
                {% for company in object_list %}
                    <li>
                        <a href="{% url item_url_name pk=company.pk %}"
                           class="card p-1 text-dark text-decoration-none">
                            <div class="d-flex company-list-item">
                                <div class="d-flex justify-content-center align-items-center company-list-logo rounded align-self-center">
                                    {% thumbnail company.logotype "150" format="PNG" upscale=True crop='center' as im %}
                                        <img src="{{ im.url }}"
                                             alt="{{ company.localized_name }}"
                                            {% if im.height > im.wdith %}
                                                height="100%" width="auto"
                                            {% else %}
                                                height="auto" width="100%"
                                            {% endif %}
                                            data-w="{{ im.wdith }}" data-h="{{ im.height }}" data-ip="{{ im.is_portrait }}"
                                        />
                                    {% endthumbnail %}
                                </div>
                                <div class="flex-fill d-flex flex-column position-relative ">
                                    <div class="card-body flex-fill mt-0  pt-0 pt-md-3">
                                        <div class="d-flex flex-column-reverse flex-md-row align-items-baseline border-bottom">
                                            <h5 class="card-title flex-fill">{{ company.localized_name }}</h5>
                                            <div class="ms-auto d-flex align-items-center bg-white px-2"
                                                 style="top: 10px; right: 10px">
                                                {% for label in company.labels.all %}
                                                    {{ label.localized_html_code|safe }}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <p class="card-text">{{ company.localized_descr|truncatewords:30 }}</p>
                                    </div>
                                    <div class="card-footer bg-white d-flex text-muted overflow-hidden">
                                        <div class="border-end px-2 text-nowrap">
                                            <span>{{ company.category.localized_title }}</span>
                                        </div>
                                        <div class="border-end px-2 text-nowrap">
                                            <span class="fw-bolder">{{ company.localized_city|default:'' }}</span>,
                                            <span>{{ company.localized_addr }}</span>
                                        </div>
                                        {% if company.email or company.phone %}
                                            <div class="border-end px-2 d-flex gap-2 align-items-center">
                                                {% if company.email %}
                                                    <i class="fa-regular fa-envelope"></i>
                                                {% endif %}
                                                {% if company.phone %}
                                                    <i class="fa-solid fa-phone"></i>
                                                {% endif %}
                                                {% if company.site %}
                                                    <i class="fa-solid fa-link"></i>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% include "std/pagination.html" %}
        {% else %}
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">{% trans "Немає компаній" %}</h4>
                <p>
                    {% blocktrans %}
                        За результатами пошуку не знайщлося жодної компанії
                    {% endblocktrans %}
                </p>
            </div>
        {% endif %}
    </div>
    <div class="col d-none d-lg-block">
        <h5 class="text-uppercase">{% trans "Категорії групи" %}</h5>
        <ul class="list-group">
            {% for cat in categories %}
                <li class="list-group-item">
                    <a href="?{% extend_current_url request.GET "category" cat.pk %}"
                       class="d-flex text-dark text-decoration-none">
                        <span class="flex-fill">{{ cat.localized_title }}</span>
                        <span class="badge bg-secondary align-self-center py-2">{{ cat.companies_count }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<button class="btn btn-outline-secondary d-inline-block d-lg-none text-uppercase fs-6 fw-bolder"
        type="button" data-bs-toggle="collapse" data-bs-target="#company-group">
    {% trans "Категорії групи" %}
</button>
<div class="collapse" id="company-group">
    <ul class="list-group">
        {% for cat in categories %}
            <li class="list-group-item">
                <a href="?{% extend_current_url request.GET "category" cat.pk %}"
                   class="d-flex text-dark text-decoration-none">
                    <span class="flex-fill">{{ cat.localized_title }}</span>
                    <span class="badge bg-secondary align-self-center py-2">{{ cat.companies_count }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>