<div class="{{ cnt_class }}">
    <div class="input-group ">
        <label for="{{ field.id_for_label }}" class="input-group-text">{{ field.label }}</label>
        <input type="file" name="{{ field.name }}"
               class="form-control {% include "std/field_valid.html" %}"
               id="{{ field.id_for_label }}"
               value="{{ field.value|default:'' }}"/>
        {% include "std/field_errors.html" %}
    </div>
        {% if field.help_text %}
            <div class="form-text">{{ field.help_text }}</div>
        {% endif %}
</div>