{% load i18n %}
<form method="post" action="{% url "feedback" %}">
    {% csrf_token %}
    {% if x == 1 %}
        {{ feedback_form.as_p }}
    {% else %}
        <label for="id_name" class="form-label d-none">{% trans "Ім'я" %}:</label>
        <input type="text" name="fio" maxlength="100" required=""
               class="form-control bg-transparent border-0 border-bottom mb-2
             {% include "std/field_valid.html" with form=feedback_form field=feedback_form.fio %}"
               placeholder="{{ feedback_form.fio.field.label }}" id="id_name"
               value="{{ feedback_form.fio.value|default:"" }}">
        {% include "std/field_errors.html" with field=feedback_form.fio %}

        <label for="id_phone" class="form-label d-none">{% trans "Номер телефону" %}:</label>
        <input type="tel" name="phone" required="" id="id_phone" class="form-control bg-transparent border-0 border-bottom mb-2
        {% include "std/field_valid.html" with form=feedback_form field=feedback_form.phone %}"
               placeholder="{{ feedback_form.phone.field.label }}" value="{{ feedback_form.phone.value|default:"" }}">
        {% include "std/field_errors.html" with field=feedback_form.phone %}

        <label for="id_email" class="form-label d-none">{% trans "E-Mail" %}:</label>
        <input type="email" name="email" required="" id="id_email" class="form-control bg-transparent border-0 border-bottom mb-2
{% include "std/field_valid.html" with form=feedback_form field=feedback_form.email %}"
               placeholder="{{ feedback_form.email.field.label }}" value="{{ feedback_form.email.value|default:"" }}">
        {% include "std/field_errors.html" with field=feedback_form.email %}

        <label for="id_message" class="form-label d-none">{% trans "Повідомлення" %}:</label>
        <textarea name="message" required="" id="id_message" class="form-control bg-transparent border-0 border-bottom mb-2
    {% include "std/field_valid.html" with form=feedback_form field=feedback_form.message %}"
                  placeholder="{{ feedback_form.message.field.label }}">{{ feedback_form.message.value|default:"" }}</textarea>
        {% include "std/field_errors.html" with field=feedback_form.message %}
    {% endif %}
    <hr/>
        <label for="{{ feedback_form.captcha.id_for_label }}"
               class="form-label text-secondary">{{ feedback_form.captcha.label }}:</label>
    {{ feedback_form.captcha }}
        {% include "std/field_errors.html" with field=feedback_form.captcha %}
    <button class="btn btn-outline-secondary" type="submit">{% trans "Надіслати" %}</button>
</form>