{% load i18n %}
<form method="post" action="{% url "feedback" %}">
{#    {{ feedbackForm }}#}

    {% csrf_token %}
    <label for="id_name" class="form-label d-none">{% trans "Ім'я" %}:</label>
    <input type="text" name="fio" maxlength="100" required=""
           class="form-control bg-transparent border-0 border-bottom mb-2
             {% include "std/field_valid.html" with form=feedback_form field=feedback_form.fio %}"
           placeholder="{% trans "Ім'я" %}" id="id_name" value="{{ feedback_form.fio.value }}">
    {% include "std/field_errors.html" with field=feedback_form.fio %}

    <label for="id_phone" class="form-label d-none">{% trans "Номер телефону" %}:</label>
    <input type="tel" name="phone" required="" id="id_phone" class="form-control bg-transparent border-0 border-bottom mb-2
        {% include "std/field_valid.html" with form=feedback_form field=feedback_form.phone %}"
    placeholder="{% trans "Номер телефону" %}" value="{{ feedback_form.phone.value }}">
    {% include "std/field_errors.html" with field=feedback_form.phone %}

    <label for="id_email" class="form-label d-none">{% trans "E-Mail" %}:</label>
    <input type="email" name="email" required="" id="id_email" class="form-control bg-transparent border-0 border-bottom mb-2
{% include "std/field_valid.html" with form=feedback_form field=feedback_form.email %}"
    placeholder="{% trans "E-Mail" %}" value="{{ feedback_form.email.value }}">
    {% include "std/field_errors.html" with field=feedback_form.email %}

    <label for="id_message" class="form-label d-none">{% trans "Повідомлення" %}:</label>
    <textarea name="message" required="" id="id_message" class="form-control bg-transparent border-0 border-bottom mb-2
    {% include "std/field_valid.html" with form=feedback_form field=feedback_form.message %}"
    placeholder="{% trans "Повідомлення" %}">{{ feedback_form.message.value }}</textarea>
    {% include "std/field_errors.html" with field=feedback_form.message %}

    <button class="btn btn-outline-secondary" type="submit">{% trans "Надіслати" %}</button>
</form>