{% load i18n %}
{% load static %}
<footer>
    <div class="container py-5">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="col mb-5 mb-lg-0">
                <img src="{% static "reua/img/footer/logo_small.png" %}" alt="Rebuild our unraine" width="250px"
                     class="mb-4">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link p-0 pe-1 text-uppercase" aria-current="page"
                           href="{% url "index" %}">{% trans "Головна" %}</a>
                    </li>
                    {% for menu_item in top_menu_items %}
                        <li class="nav-item">
                            <a class="nav-link p-0 pe-1 text-uppercase"
                               href="{{ menu_item.fp.get_absolute_url }}">
                                {{ menu_item.localized_title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="nav mt-3 gap-1">
                    {% for fd in founding_documents %}
                        <li class="nav-item">
                            <a class="nav-link p-0 pe-1"
                               href="{{ fd.url }}">
                                <i class="{{ fd.awesome_icon }} fa-lg"></i>
                                {{ fd.localized_title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col mb-5 mb-lg-0">
                <h5 class="text-uppercase fw-bolder">
                    {% trans "Напишіть нам, якщо у вас є ідеї або пропозиції" %}
                </h5>
                {% include "std/feedback_form.html" %}
            </div>
            <div class="col">
                <ul class="list-unstyled d-flex flex-column gap-2">
                    {% if site_settings.phone %}
                        <li class="d-flex align-items-center">
                            <i class="fa-solid fa-phone fa-lg me-2"></i>
                            <h5>
                                <a href="{{ site_settings.phone.as_rfc3966 }}"
                                   class="text-dark text-decoration-none fw-bolder">
                                    {{ site_settings.phone.as_international }}
                                </a>
                            </h5>
                        </li>
                    {% endif %}
                    {% if site_settings.localized_addr %}
                        <li class="d-flex align-items-center">
                            <i class="fa-solid fa-location-dot fa-lg me-3"></i>
                            <a href='{% url "contacts" %}' class="text-decoration-none text-muted">
                                {{ site_settings.localized_addr }}
                            </a>
                        </li>
                    {% endif %}
                    <li class="d-flex align-items-center gap-1">
                        <i class="fa-solid fa-circle-nodes fa-lg me-2"></i>
                        <a href='https://www.facebook.com/reua.com.ua' class="btn btn-light bg-white" target="_blank">
                            <i class="fa-brands fa-facebook-f fa-fw"></i>
                        </a>
                        <a href='https://www.youtube.com/channel/UC1Wg8_m7TDH61IFrPuJFekA'
                           class="btn btn-light bg-white" target="_blank">
                            <i class="fa-brands fa-youtube fa-fw"></i>
                        </a>
                        <a href=https://www.instagram.com/reua.com.ua' class="btn btn-light bg-white" target="_blank">
                            <i class="fa-brands fa-instagram fa-fw"></i>
                        </a>
                    </li>
                </ul>
                <div class="small">
                    <i class="fa-regular fa-copyright fa-sm"></i> REUA 2023
                </div>
                <ul class="mt-5 list-unstyled d-flex align-items-center gap-3">
                    <li><img src="{% static "reua/img/footer/logos/fudl.png" %}" alt="Verifield Ukraine Donation List"></li>
                    <li><img src="{% static "reua/img/footer/logos/visa.png" %}" alt="Verifield by Visa"></li>
                    <li><img src="{% static "reua/img/footer/logos/mastercard.png" %}" alt="Verifield by MasterCard"></li>
                </ul>
            </div>
        </div>
    </div>
</footer>