{% extends "default_page.html" %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load request_heplers %}

{% block content %}
    {{ block.super }}
    <h3>Інвестиційна програма</h3>
    <p class="lead">
        {% trans "Для залучення іноземних інвестицій і формування інвестиційного меню нами створено платформу, яка дає змогу сформувати потенційні можливості смт Макарів." %}
    </p>
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col p-2" style="min-height: 450px">
            <div class="w-100 h-100"
                 style="background: url({% static "reua/img/invest/invest.webp" %}) center center no-repeat; background-size: cover ">
            </div>
        </div>
        <div class="col p-2 d-flex">
            <div class="rounded p-3 d-flex align-items-center bg-gray200">
                <div>
                    <p>
                        {% trans "Наразі список реальних проектів щоденно збільшується і стає більш різноманітним. Низка перспективних проектів готові до старту, але потребують інвестицій. Це одна з ключових умов успіху відбудови України. Більшість цих проектів ми зібрали і продовжуємо збирати на одній платформі." %}
                    </p>
                    <p>
                        {% trans "Пропонуємо керівникам провідних компаній долучатися." %}
                    </p>
                    <p>
           <span class="text-uppercase">
            {% trans "Будь ласка, зареєструйтеся для отримання детальної інформації про індивідуальні проєкти та інвестиційного меню" %}
               </span><br/>
                        {% trans "Дізнайтеся, чи маєте ви право отримати фінансування." %}
                    </p>
                    <p>
                        {% trans "Будь-ласка, внесіть ваші контактні дані, щоб представник Благодійного Фонду міг звернутися до вас." %}<br/>
                        {% trans "Ми зв’яжемося з Вами протягом наступних 24 годин." %}
                    </p>
                    <div class="mb-4">
                        <a href="{% url "investition-create" %}" class="btn btn-primary">
                            <i class="fa-solid fa-square-plus fa-lg me-2"></i>
                            {% trans "Зареєструвати компанію" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "company/common/company_list.html" with item_url_name="investition-item" %}
{% endblock %}
