{% extends "admin/base_site.html" %}
{% load static %}
{% block extrastyle %}
    <style>
        @font-face {
            font-family: Benzin;
            src: url({% static "reua/fonts/Benzin-Bold.ttf" %});
            font-weight: bold;
        }

        @font-face {
            font-family: Benzin;
            src: url({% static "reua/fonts/Benzin-Regular.ttf" %});
            font-weight: normal;
        }
        .summernote-div {
            flex: 1 1 auto;
        }
    </style>
{% endblock %}