{% extends "default_page.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    {{ block.super }}
    <h3>{% trans "Що таке Building Group?" %}</h3>
    <div class="row row-cols-1 row-cols-md-2 mb-3">
        <div class="col px-3" >
            <div class="w-100 h-100 rounded-3 " style="background: url({% static "reua/img/companies/building-group.webp" %}) no-repeat center center; background-size: cover;">

            </div>
        </div>
        <div class="col bg-gray200 p-4 rounded">
            <p class="lead text-justify">
                {% blocktrans %}
                    Building Group – підрозділ фонду REUA БФ «Відбудуємо нашу Україну», метою якого є залучення
                    профільних
                    компаній у сфері проєктування, будівництва, ремонту, постачання та благоустрою об'єктів житлової,
                    соціальної та комерційної нерухомості в рамках проекту ReCITY.
                {% endblocktrans %}
            </p>
            <p class="lead text-justify">
                {% blocktrans %}

                    ReCITY один із ключових проєктів БФ «Відбудуємо нашу Україну».
                {% endblocktrans %}
            </p>
            <p class="lead text-justify">
                {% blocktrans %}

                Реалізація проєкту забезпечить потребу громадян, які втратили житло, у збереженні гідного способу життя
                та соціалізації в новому середовищі, а також у створенні робочих місць, що дасть можливість гідно жити й
                планувати своє майбутнє."
                {% endblocktrans %}
            </p>
            <div class=_"mb-4">
                <a href="{% url "company-create" %}" class="btn btn-primary">
                    <i class="fa-solid fa-square-plus fa-lg me-2"></i>
                    {% trans "Зареєструвати компанію" %}
                </a>
            </div>
        </div>
    </div>
    {% include "company/common/company_list.html" with item_url_name="company-item" %}
{% endblock %}