{% extends "default_page.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    {{ block.super }}
    <form method="post" action="{% url "company-create" %}" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="border rounded reua-formset">
            <legend class="h5"> {{ form.fields.form_code.label }} </legend>
            {% include "std/field/input.html" with field=form.form_code cnt_class="mb-3" icon_class="fa-solid fa-barcode" %}
        </fieldset>
        <fieldset class="border rounded reua-formset">
            <legend class="h5"> {% trans "Представник компанії" %} </legend>
            {% include "std/field/input.html" with field=form.repr_fio cnt_class="mb-3" icon_class="fa-solid fa-user-large" %}
            {% include "std/field/select.html" with field=form.repr_status cnt_class="mb-3" icon_class="fa-brands fa-black-tie" %}
            {% include "std/field/input.html" with field=form.repr_phone cnt_class="mb-3" icon_class="fa-solid fa-phone" input_type="tel" %}
            {% include "std/field/input.html" with field=form.repr_email cnt_class="mb-1" icon_class="fa-solid fa-envelope" input_type='phone' %}
        </fieldset>
        {% include "std/field/checkbox.html" with field=form.i_agree cnt_class="my-3" %}
        <fieldset class="border rounded reua-formset">
            <legend class="h5"> {% trans "Основні дані компанії" %} </legend>
            {% include "std/field/select.html" with field=form.category cnt_class="mb-3" icon_class="fa-solid fa-list-ul" %}
            {% include "std/field/input.html" with field=form.name cnt_class="mb-3" icon_class="fa-solid fa-building" %}
            {% include "std/field/input.html" with field=form.city cnt_class="mb-3" icon_class="fa-solid fa-city" %}
            {% include "std/field/textarea.html" with field=form.descr cnt_class="mb-3" icon_class="fa-regular fa-file-lines" rows=3 %}
            {% include "std/field/textarea.html" with field=form.addr cnt_class="mb-3" icon_class="fa-solid fa-location-dot" %}
            {% include "std/field/input.html" with field=form.phone cnt_class="mb-3" icon_class="fa-solid fa-phone" %}
            {% include "std/field/input.html" with field=form.email cnt_class="mb-3" icon_class="fa-solid fa-envelope" %}
            {% include "std/field/input.html" with field=form.site cnt_class="mb-3" icon_class="fa-solid fa-globe" %}
            {% include "std/field/image.html" with field=form.logotype cnt_class="mb-3" %}
        </fieldset>
        <button type="submit" class="btn btn-lg btn-primary">
            {% trans "Надіслати заявку" %}
        </button>
    </form>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script
            src="{% static "reua/js/image_input.js" %}"></script>
{% endblock %}