{% extends "default_page.html" %}
{% load thumbnail %}
{% load static %}
{% load i18n %}
{% load request_heplers %}

{% block content %}
    {{ block.super }}
    <div class="row row-cols-1 row-cols-lg-2">
        <div class="col my-3 my-lg-0">
            <div class="bg-gray200 rounded-3 p-5 fs-4 d-flex align-items-center w-100 h-100">
                <div class="w-100">
                    <p>
                        {% blocktrans %}
                            Український благодійний фонд
                            <b>«Відбудуємо нашу Україну»</b>
                            був створений від початку повномасштабного вторгнення як відповідь на виклики війни та
                            потребу допомагати людям у найскладніших умовах.
                        {% endblocktrans %}
                    </p>
                    <p>
                        {% blocktrans %}
                            Засновник фонду — <b>Олег Кленін</b>,
                            маріуполець із відомим для міста ім’ям та особистою історією, нерозривно пов’язаною з цією
                            війною.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
        <div class="col my-3 my-lg-0">
            <div class="bg-gray200 rounded-3 p-5 fs-4 d-flex align-items-center w-100 h-100">
                <div class="w-100">
                    <p>
                        {% trans "Трагедія Маріуполя стала поштовхом для Олега Кленіна об’єднати навколо фонду провідних національних і міжнародних партнерів і розпочати системну роботу з відновлення України." %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <h1 class="text-muted mb-5 fw-bold">{% trans "Про фонд" %}</h1>
    <p class="fs-4 fw-bold text-justify">
        {% blocktrans %}
            Мета фонду — створити повноцінну інвестиційну платформу для відбудови України через будівництво нових
            сучасних кварталів, повернення українців додому та масштабування цієї моделі по всій країні.
        {% endblocktrans %}
    </p>
    <p class="fs-4 text-justify">
        {% blocktrans %}
            Фонд Rebuild Our Ukraine ініціює проєкт «Маріупольський квартал» як практичну модель
            післявоєнного відновлення: не тимчасове житло, не модульне містечко, а повноцінне міське середовище,
            де люди отримують дім, роботу, сервіси, освіту, медицину та можливість будувати майбутнє на рідній землі.
        {% endblocktrans %}
    </p>
    <p class="fs-4 text-justify">
        {% blocktrans %}
            Наша стратегічна ціль — залучити державних партнерів, міжнародних донорів, приватних інвесторів,
            громади та бізнес до створення нових житлово-інфраструктурних кварталів по всій території України.
        {% endblocktrans %}
    </p>
    <p class="fs-4 text-justify">
        {% blocktrans %}
            «Маріупольський квартал» — це пілотна модель, яку можна масштабувати в інших регіонах країни за
            участю всіх зацікавлених державних, громадських і приватних партнерів.
        {% endblocktrans %}
    </p>
    <div class="row gap-4">
        <div class="col bg-gray200 rounded-3 p-5 fs-4 d-flex align-items-center">
            <div class="w-100">
                <p class="fs-4 fw-bold text-muted">
                    {% blocktrans %}
                        Основний напрям діяльності фонду — створення системи децентралізованого водопостачання України,
                        що забезпечує людей чистою питною водою. Для реалізації проєкту вибудовується довгострокова
                        бізнес-модель із залученням інвесторів та міжнародних партнерів.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
        <div class="col bg-gray200 rounded-3 p-5 fs-4 d-flex align-items-center">
            <div class="w-100">
                <p class="fs-4 fw-bold text-muted">
                    {% blocktrans %}
                        Фонд створює не один житловий проєкт, а нову модель відновлення України.
                        люди повертаються додому;
                        держава отримує інструмент демографічного відновлення;
                        інвестори отримують довгостроковий інфраструктурний актив;
                        Україна отримує масштабований механізм відбудови.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
    <h3 class="mt-2 landing_title">{% trans "Команда" %}</h3>
    <ul class="list-unstyled d-flex flex-wrap justify-content-center gap-4">
        {% for staff in staffs %}
            <li style="width: 14rem">
                <a href="#" class="d-block text-center text-dark text-decoration-none" data-bs-toggle="modal"
                   data-bs-target="#staff_{{ staff.pk }}">
                    {% if staff.photo %}
                        {% thumbnail staff.photo "150x150" format="PNG" upscale=True crop='center' as im %}
                            <img src="{{ im.url }}" class="rounded-circle"
                                 alt="{{ staff.localized_name }}"
                            />
                        {% endthumbnail %}
                    {% endif %}
                    <div class="fs-5 fw-bold">{{ staff.localized_name }}</div>
                    <div class="fst-italic">{{ staff.localized_position }}</div>
                </a>
            </li>
        {% endfor %}
    </ul>
    {% for staff in staffs %}
        <div class="modal fade" id="staff_{{ staff.pk }}" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-light">
                        <div class="d-flex align-items-center">
                            <div>
                                {% thumbnail staff.photo "100x100" format="PNG" upscale=True crop='center' as im %}
                                    <img src="{{ im.url }}" class="rounded-circle"
                                         alt="{{ staff.localized_name }}">
                                {% endthumbnail %}
                            </div>
                            <div class="ms-3">
                                <div class="fs-4">{{ staff.localized_name }}</div>
                                <div>{{ staff.localized_position }}</div>
                            </div>
                        </div>
                        <button type="button" class="btn-close align-self-baseline" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body mb-5">
                        {{ staff.localized_descriprion|bleach_sanitarize|safe }}
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}

    {#    {% include "index/partners.html" %}#}
{% endblock %}
