{% extends "default_page.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    {{ block.super }}
    <div class="row row-cols-1 row-cols-lg-2">
        <div class="col p-0 d-flex mk-block">
            <div class="p-5 d-flex flex-column justify-content-center w-100"
                 style="background-image: url({% static "reua/img/mk/map.webp" %}); background-size: cover; background-position: center;"
            >
            </div>
        </div>
        <div class="col p-0  d-flex">
            <div class="p-5 bg-white d-flex flex-column justify-content-center">
                <h2 class="text-primary fw-bold">
                    {% trans "1. Соціальна програма повернення українців додому." %}
                </h2>
                <p class="fs-3 fw-bold text-justify">
                    {% trans "Маріупольський квартал — це не тимчасове житло і не модульне містечко." %}<br/>
                    {% trans "Це повноцінне міське середовище для повернення українців додому." %}
                </p>
                <p class="fs-3  text-justify">
                    {% trans "Тут люди отримують не прихисток, а власне житло, роботу, сервіси, медицину, освіту та умови для довгострокового життя родини." %}
                </p>
                <p class="fs-3  text-justify fw-bold">
                    {% trans "Проєкт створює не просто квартири, а нову якість життя — з відчуттям дому, безпеки та майбутнього в Україні." %}
                </p>
            </div>
        </div>
        <div class="col p-0  d-flex">
            <div class="p-5 d-flex flex-column justify-content-center">
                <h2 class="text-primary fw-bold">
                    {% trans "2. Дорожная карта" %}
                </h2>
                <p>
                <ol class="mt-2 ms-4 ps-2 fs-4">
                    <li>{% trans "Підготовка команди та концепції." %}</li>
                    <li>{% trans "ТЕО та бізнес-план." %}</li>
                    <li>{% trans "Проектування." %}</li>
                    <li>{% trans "Дозвільна документація." %}</li>
                    <li>{% trans "Будівництво за етапами." %}</li>
                    <li>{% trans "Заселення." %}</li>
                    <li>{% trans "Запуск сервісів." %}</li>
                    <li>{% trans "Масштабування моделі." %}</li>
                </ol>
                </p>
            </div>
        </div>
        <div class="col p-0 d-flex">
            <div class="p-5 w-100 mk-block"
                 style="background: url({% static "reua/img/mk/schema.webp" %}) center center no-repeat;
                         background-size: cover;">
            </div>
        </div>
        <div class="col p-0  d-flex">
            <div class="p-5 d-flex flex-column justify-content-center mk-block w-100"
                 style="background: url({% static "reua/img/mk/geo.webp" %}) center center no-repeat; background-size: cover">
            </div>
        </div>
        <div class="col p-0">
            <div class="p-5 w-100">
                <h2 class="text-primary fw-bold">
                    {% trans "3. Ми створюємо нову модель життя для України після війни." %}
                </h2>
            <ul class="list-unstyled fs-4">
                <li>{% trans "Для людей — дім." %}</li>
                <li>{% trans "Для держави — повернення громадян." %}</li>
                <li>{% trans "Для інвесторів — легітимний довгостроковий актив." %}</li>
                <li>{% trans "Для України — нова модель відновлення." %}</li>
            </ul>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-3">
        {% for n in "123456789"|make_list %}
            {% with forloop.counter|stringformat:"d" as s %}
                {% static "reua/img/mk/photo/img"|add:s|add:".webp" as img_url %}
                <div class="col p-2">
                    <div class="rounded"
                         style="height: 450px; background: url({{ img_url }}) center center no-repeat; background-size: cover;">
                        {#                        {{ s }}#}
                    </div>
                </div>
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}