{% extends "default_page.html" %}
{% load l10n %}
{% load thumbnail %}
{% load static %}
{% load i18n %}
{% load request_heplers %}

{% block content %}
    {{ block.super }}
    <h3>{% trans "Забезпечення чистою питною водою населення України" %}</h3>
    <p>
        {% blocktrans %}
            Російські ракети щоденно знищують критичну інфраструктуру країни. Через відсутність питної води потерпають
            мільйони українців.
            Це спонукало фонд до створення проєкту ReH2O. Перша в Україні мобільна водоочисна станція була розроблена
            директором благодійного фонду.
            Запатентований винахід, за результатами державної санітарно-епідеміологічної експертизи, відповідає всім
            вимогам діючого санітарного
            законодавства України. Комісія при державній установі "Інститут громадського здоров'я ім. О. М. Марзєєва
            НАМНУ" погодила роботу водоочисної
            станції.
        {% endblocktrans %}
    </p>
    <div class="border p-1">
        <h2 class="text-uppercase text-muted">{% trans "Благодійна модель вирішення проблеми" %}</h2>
        <p>
            {% blocktrans %}
                Організація збору коштів на закупівлю мобільних систем очищення води з подальшим наданням громадам, що
                зазнали гуманітарної катастрофи і терміново потребують відновлення забезпечення очищеною питною водою.
            {% endblocktrans %}
        </p>
    </div>
    <h4>{% trans "Мобільна система очистки води ReH2O" %}</h4>
    <div class="row row-cols-1 row-cols-lg-2 mb-5 rounded overflow-hidden">
        <div class="col p-0" >
            <div class="w-100 h-100"
                 style="background: url({% static "reua/img/water/water_station.webp" %}) center center no-repeat;
                         background-size: cover; min-height: min(25rem, 50vw); ">
            </div>
        </div>
        <div class="col p-4 d-flex align-items-center bg-gray200">
            <div>
                <h1>{% trans "Як це працює?" %}</h1>
                <ul class="fs-5 d-flex flex-column gap-3">
                    <li>
                        {% trans "<b>Вхідна вода</b> береться з будь-якого джерела водопостачання різного ступеню забруднення" %}
                    </li>
                    <li>
                        {% trans "<b>Якість</b> підготовленої води відповідає ДСанПіН 2.2.4-400-10 «Гігієнічні вимоги до води питної, призначеної для споживання людиною»" %}
                    </li>
                    <li>
                        {% trans "<b>Продуктивність</b> системи водопідготовки 5 м³/год" %}
                    </li>
                    <li>
                        {% trans "<b>Внутрішній накопичувач:</b> 3 м³" %}
                    </li>
                    <li>
                        {% trans "<b>Енергоспоживання:</b> 10 кВт/год" %}
                    </li>
                </ul>
            </div>
        </div>
        <div class="col p-4 d-flex align-items-center bg-gray200">
            <div class="w-100">
                <table class="table table-bordered fs-4 w-100">
                    <tr>
                        <td colspan="2" class="text-center"><b>{% trans "Параметри" %}</b></td>
                    </tr>
                    <tr>
                        <td>{% trans "Вага" %}</td>
                        <td>{% trans "3000 кг" %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Висота" %}</td>
                        <td>{% trans "2500 мм" %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Ширина" %}</td>
                        <td>{% trans "2500 мм" %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Довжина" %}</td>
                        <td>{% trans "6000  мм" %}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center"><b>{% trans "Основні атрибути" %}</b></td>
                    </tr>
                    <tr>
                        <td>{% trans "Країна виробник" %}</td>
                        <td>{% trans "Україна" %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Макс. продуктивність" %}</td>
                        <td>{% trans "сто тисяч літрів на добу" %}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center"><b>{% trans "Користувальницькі характеристики" %}</b></td>
                    </tr>
                    <tr>
                        <td>{% trans "Виробник" %}</td>
                        <td>{% trans "Бізнес Сенат" %}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col p-0" >
            <div class="w-100 h-100"
                 style="background: url({% static "reua/img/water/water_box.webp" %}) center center no-repeat;
                         background-size: cover; min-height: min(25rem, 50vw); ">
            </div>
        </div>
    </div>
    <p>
        {% blocktrans %}
            Автономна мобільна установка фільтрації води продуктивністю 5 м3/год розміщується безпосередньо біля джерела
            водопостачання – озеро, канал, річка, колодязь, відкрите поверхневе джерело, свердловина, а також джерел,
            навмисно забруднених радіацією та хімічними речовинами. Видаляються забруднення: механічні частинки, важкі
            метали, біологічні та органічні забруднення, віруси та бактерії, солі жорсткості, нітрити, нітрати, амоній,
            фосфати, кольоровість, каламутність, радіаційні та хімічні зараження.        {% endblocktrans %}
    </p>
    <h2 class="text-muted text-uppercase">
        {% trans "Виробнича ефективність системи очистки води" %}
    </h2>
    <div class="overflow-auto">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td class="align-middle" style="width: 20%">
                    <div class="border-start border-primary border-3 fw-bold px-2">
                        {% trans "Продуктивність системи очищення, літрів/год" %}
                    </div>
                </td>
                <td class="align-middle" style="width: 20%">
                    <div class="border-start border-primary border-3 fw-bold px-2">
                        {% trans "Продуктивність системи очищення, літрів/добу" %}
                    </div>
                </td>
                <td class="align-middle" style="width: 20%">
                    <div class="border-start border-primary border-3 fw-bold px-2">
                        {% trans "Мін. постачання питної води" %}
                    </div>
                    {% trans "3 літри на добу на людину" %}
                </td>
                <td class="align-middle" style="width: 20%">
                    <div class="border-start border-primary border-3 fw-bold px-2">
                        {% trans "Обмежене водопостачання" %}
                    </div>
                    {% trans "25 літрів на добу на людину" %}
                </td>
                <td class="align-middle" style="width: 20%">
                    <div class="border-start border-primary border-3 fw-bold px-2">
                        {% trans "Повноцінне водопостачання" %}
                    </div>
                    {% trans "150 літрів на добу на людину" %}
                </td>
            </tr>
            <tr>
                <td class="fs-3 text-muted text-center align-middle fw-bold">5000</td>
                <td class="fs-3 text-muted text-center align-middle fw-bold">100 000</td>
                <td class="fs-3 text-muted text-center align-middle fw-bold">30 000 {% trans "осіб" %}</td>
                <td class="fs-3 text-muted text-center align-middle fw-bold">4 000 {% trans "осіб" %}</td>
                <td class="fs-3 text-muted text-center align-middle fw-bold">650 {% trans "осіб" %}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row row-cols-1 row-cols-lg-2 mb-5">
        <div class="col d-flex align-items-center">
            <h1>{% trans "Презентація" %}</h1>
        </div>
        <div class="col">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/oO88ghXY5sc" class="rounded"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
        </div>
    </div>

    {% if projects %}
        <h3 class="landing_title">{% trans "Актуальні проєкти" %}</h3>
        {% include "projects/common-list.html" with projects=projects|slice:":3" img_height=225 %}
        <div class="mb-5">
            <a href="{% url "project-list" %}" class="btn btn-dark">
                {% trans "Дивитись усі" %}
            </a>
        </div>
    {% endif %}

    <div class="row water-map" >
        <div class="col col-12 col-lg-3 overflow-auto">
            <ul class="list-group flex-row flex-lg-column d-md-flex d-none" id="water-stations-list">
                {% for station in water_stations %}
                    <li class="list-group-item list-group-item-action" id="water-station-{{ station.id }}">
                        {{ station.title }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col col-12 col-lg-9 overflow-hidden" >
            <div id="map" class="h-100">

            </div>
        </div>

    </div>
    {{ water_stations|json_script:'water_stations' }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script async
            src="https://maps.googleapis.com/maps/api/js?key={% gmaps_api_key %}&callback=initMap"
            defer
    ></script>
    <script
            src="{% static "reua/js/water_map.js" %}"></script>
{% endblock %}