{% extends "email/base.html" %}
{% block main %}
    <h1>
        Вам надіслали повідомлення
    </h1>
    <table class="table table-striped">
        <tbody>
        <tr>
            <td>Ім'я</td>
            <td class="fw-bold">{{ fio }}</td>
        </tr>
        <tr>
            <td>Номер телефону</td>
            <td class="fw-bold">
                <a href="{{ phone.as_rfc3966 }}" class="text-decoration-none text-dark">
                    {{ phone.as_international }}
                </a>
            </td>
        </tr>
        <tr>
            <td>E-Mail</td>
            <td class="fw-bold"><a href="mailto:{{ email }}">{{ email }}</a></td>
        </tr>
        <tr>
            <td colspan="2">
                {{ message }}
            </td>
        </tbody>
    </table>
{% endblock %}
