{% extends "default_page.html" %}
{% load i18n %}

{% block content %}
    {{ block.super }}
        <h5 class="fw-bold">{{ title }}</h5>
        <div class="mb-3">
    {% trans "Оберіть зручну для вас валюту внеску." %}
        </div>
    <div class="d-flex gap-2">
        {% for cc in credit_cards %}
            <a href="{{ cc.url }}" class="btn btn-primary btn-lg" target="_blank">
                {{ cc.currency_sign }}
                {{ cc.currency }}
            </a>
        {% endfor %}
    </div>
{% endblock %}