{% extends "news/news-base.html" %}
{% load thumbnail %}

{% block left_side %}
    {{ block.super }}
    <ul class="list-unstyled row row-cols-md-2 row-cols-1">
        {% for n in news %}
            <li class="col mb-4">
                <div class="card h-100 bg-transparent border-0 ">
                    {% thumbnail n.image "300x300" format="PNG" upscale=True crop='center' as im %}
                        <a href="{% url "news-item" slug=n.slug %}">
                            <img src="{{ im.url }}" class="card-_img-top rounded"
                                 alt="{{ n.localized_title }}" width="60%">
                        </a>
                    {% endthumbnail %}
                    <div class="card-footer bg-transparent border-0">
                        <div class="d-flex text-muted small gap-4">
                            <div class="text-nowrap">
                                <i class="fa-solid fa-calendar-days me-1"></i>
                                {{ n.date|date:"j b y" }}
                            </div>
                            <div class="">
                                <i class="fa-solid fa-folder me-1"></i>
                                {{ n.category.localized_title }}
                            </div>
                        </div>

                    </div>
                    <div class="card-body ps-0">
                        <a href="{% url "news-item" slug=n.slug %}" class="text-dark text-decoration-none">
                            <h4 class="card-title fw-bolder">{{ n.localized_title }}</h4>
                        </a>
                        {% if n.localized_sub_title %}
                            <p class="card-text lead fw-normal">{{ n.localized_sub_title }}</p>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% include "std/pagination.html" %}
{% endblock %}
