{% extends "news/news-base.html" %}
{% load static %}
{% load i18n %}
{% load request_heplers %}
{% load thumbnail %}

{% block css %}
    <link href="{% static "reua/assets/lightGallery-2.7.1/css/lightgallery-bundle.min.css" %}" rel="stylesheet">
    {{ block.super }}
{% endblock %}

{% block left_side %}
    {{ block.super }}
    <h3>{{ news.localized_title }}</h3>
    {{ news.localized_body|safe }}
    {% with news.newsimages_set.all as images %}
        <ul id="lightgallery" class="d-flex gap-2 list-unstyled flex-wrap">
            {% thumbnail news.image "800" format="PNG" crop='center' as im %}
                <li class="gallery-item w-100" data-src="{{ news.image.url }}">
                    <img alt="{{ news.localized_title }}" src="{{ im.url }}" class="w-100"/>
                </li>
            {% endthumbnail %}
            {% for image in images %}
                {% thumbnail image.image "x100" format="PNG" upscale=True crop='center' as im %}
                    <li class="gallery-item" data-src="{{ image.image.url }}">
                        <img alt="{{ image.localized_title }}" src="{{ im.url }}"/>
                    </li>
                {% endthumbnail %}
            {% endfor %}
        </ul>
    {% endwith %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "reua/assets/lightGallery-2.7.1/lightgallery.umd.js" %}"></script>
    <script type="text/javascript">
      lightGallery(document.getElementById('lightgallery'), {
        {#plugins: [lgZoom, lgThumbnail],#}
        speed: 500,
        {#licenseKey:''#}
      });
    </script>
    <!-- lightgallery plugins -->
    {#    <script src="js/plugins/lg-thumbnail.umd.js"></script>#}
    {#    <script src="js/plugins/lg-zoom.umd.js"></script>{% endblock %}#}
{% endblock %}