\{% extends "news/news-base.html" %}
{% load thumbnail %}

{% block left_side %}
    {{ block.super }}
    <ul class="list-unstyled row">
        {% for n in news %}
            <li class="col col-md-6  mb-4">
                <div class="card h-100">
                    {% thumbnail n.image "300x300" format="PNG" upscale=True crop='center' as im %}
                        <a href="{% url "news-item" pk=n.pk %}">
                            <img src="{{ im.url }}" class="card-img-top"
                                 alt="{{ n.localized_title }}">
                        </a>
                    {% endthumbnail %}
                    <div class="card-body">
                        <a href="{% url "news-item" pk=n.pk %}" class="text-dark text-decoration-none">
                            <h4 class="card-title fw-bolder">{{ n.localized_title }}</h4>
                        </a>
                        {% if n.localized_sub_title %}
                            <p class="card-text lead fw-normal">{{ n.localized_sub_title }}</p>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <div class="d-flex text-muted small">
                            <div class="me-3 text-nowrap">
                                <i class="fa-solid fa-calendar-days me-1"></i>
                                {{ n.date|date:"j b y" }}
                            </div>
                            <div class="ms-auto ">
                                <i class="fa-solid fa-folder me-1"></i>
                                {{ n.category.localized_title }}
                            </div>
                        </div>

                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% include "std/pagination.html" %}
{% endblock %}
